<form [formGroup]="form" class="flex items-center gap-10 justify-start content-center">
  <ng-template *ngFor="let filter of filters"></ng-template>
  <fb-string-filter [parentForm]="form" label="Name" placeholderText="Search by name ..." controlName="name"></fb-string-filter>
  <fb-strings-filter [parentForm]="form" label="Type" placeholderText="Type select ..." [source]="typesSource" controlName="types"></fb-strings-filter>
  <fb-strings-filter [parentForm]="form" label="Currencies" placeholderText="Currency select ..." [source]="currenciesSource" controlName="currencies"></fb-strings-filter>
  <fb-bool-filter [parentForm]="form" label="Is Private" controlName="isPrivate"></fb-bool-filter>
</form>