<form [formGroup]="form" class="flex items-center gap-10 justify-start content-center">
  <ng-container *ngFor="let filter of filters">
    <ng-container [ngSwitch]="filter.type">
      <ng-container *ngSwitchCase="'string'">
        <ng-container [ngSwitch]="filter.mode">
          <ng-container *ngSwitchCase="'single'">
            <string-filter [parentForm]="form" label="{{filter.label}}" placeholderText="{{filter.placeholderText}}" controlName="{{filter.controlName}}"></string-filter>
          </ng-container>
          <ng-container *ngSwitchCase="'multiple'">
            <strings-filter class="flex-initial" [parentForm]="form" label="{{filter.label}}" placeholderText="{{filter.placeholderText}}" [source]="filter.source" controlName="{{filter.controlName}}"></strings-filter>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'bool'">
        <ng-container [ngSwitch]="filter.mode">
          <ng-container *ngSwitchCase="'single'">
            <bool-filter [parentForm]="form" label="{{filter.label}}" controlName="{{filter.controlName}}"></bool-filter>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</form>